@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

:root {
  --gridWidth: 80vw;
  --gridHeight: 70vh;
  --backgroundColor: beige;
  --navColor: #3b7b80;
  --cardWidth: 40vw;
}

body {
  background-color: var(--backgroundColor);
}

.navColor {
  color: var(--navColor);
  z-index: 10;
}

.alarmImg {
  position: fixed;
  height: 10vh;
  bottom: 20vh;
  right: 0vw;
}

.checklistImg {
  position: fixed;
  height: 20vh;
  left: 0vw;
  bottom: 5vh;
}

.sockImg {
  position: fixed;
  height: 8vh;
  right: 0vw;
  bottom: 10vh;
}

.jumperImg {
  position: fixed;
  height: 14vh;
  top: 30vh;
  right: 0vw;
}

.grid {
  margin: 3vw;
  left: 3vw;
  height: var(--gridHeight);
  width: var(--gridWidth);
  /*  */
  position: absolute;
  grid-auto-flow: column;
  bottom: 5vh;
  display: grid;
  grid-template-columns: 37vw 6vw 37vw;
  grid-template-rows: 1fr;
}

.gridColOne {
  grid-column: 1 / span 1;
  grid-row: 1;
  width: 37vw;
  height: var(--gridHeight);
}

.gridColTwo {
  grid-column: 2 / span 1;
  width: 6vw;
  height: var(--gridHeight);
  grid-row: 1;
}

.gridColThree {
  overflow: scroll;
  grid-column: 3 / span 1;
  height: var(--gridHeight);
  grid-row: 1;
  /* border: 1px red solid; */
  width: 37vw;
}

/* .border {
  border: 1px solid black;
} */

.hoverBtn {
  font-family: "Reenie Beanie", cursive;
  margin-top: 13vh;
  border: 2px solid lightblue;
  background: none;
  padding: 1vw 1vw;
  font-size: 15px;
  /* text-transform: uppercase; */
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  color: lightblue;
  overflow: hidden;
}

.hoverBtn:hover {
  color: white;
}

.hoverBtn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightblue;
  z-index: -1;
  border-radius: 50% 50% 0% 0%;
  height: 0%;
  transition: all 0.5s;
}

.hoverBtn:hover:before {
  height: 190%;
}

/* Make something occur when hover */
.btnOne {
}

.leftCard {
  height: 40vh;
  width: 33vw;
  /* background-color: white; */
}
.rightCard {
  height: 40vh;
  width: 33vw;
  /* background-color: white; */
}
.partOne {
  background-color: white;
  width: 100%;
  height: 100%;
}
.partTwo {
  background-color: white;
  width: 100%;
  height: 100%;
}
.partThree {
  background-color: white;
  width: 100%;
  height: 100%;
}

.noDisplay {
  display: none;
}

/* Make something occur when hover */
.btnTwo {
}

/* Make something occur when hover */
.btnThree {
}

.cardText {
  padding: 2vw;
  font-size: 1em;
}
